.home-hero {
  background-image: url(/assets/hero-bg.png);
  background-size: cover;
  background-attachment: fixed;
  min-height: inherit;
  height: 50vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto -1.0875rem auto -1.45rem;
}

/* 
.ui.container.home-hero .heading {
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 3em;
}

.ui.container.home-hero.mobile .heading {
  font-size: 2em;
  margin-top: 1.5em;
} 
*/

.ui.container.home-hero .subheading {
  font-size: 1.7em;
  font-weight: normal;
  margin-top: 1.5em;
}

.ui.container.home-hero.mobile .subheading {
  font-size: 1.5em;
  margin-top: 0.5em;
}
