.menu-container {
  background: #f4f4f4;
  padding-top: 10px;
}

.menu-container:hover .menu-subnav-container {
  display: block;
}

.menu-subnav-container {
  display: none;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/* 
.menu-list-item {

} 
*/
