.ui.inverted.menu.site-nav-container {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-end;
  background: transparent;
  height: 100%;
}

.ui.inverted.menu.site-nav-container a.item {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 300;
  border-radius: 0;
  border-bottom: 4px solid transparent;
  transition: all 175ms linear;
}

.ui.inverted.menu.site-nav-container a.item:hover {
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.ui.inverted.menu.site-nav-container a.item.active-nav {
  border-bottom: 4px solid white;
}

.site-nav-dropdown {
  padding-left: 3px;
}

/* Override menu item separators */
.ui.menu a.item::before {
  width: 0;
}

.ui.menu .dropdown.item .menu.site-nav-sub-menu {
  border-radius: 0 !important;
}

.ui.simple.dropdown.site-nav-dropdown:hover > .menu {
  margin-top: 4px !important;
}
