.ui.inverted.menu.site-nav-container {
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-end;
  background: transparent;
  height: 100%;
}

.ui.inverted.menu.site-nav-container a.item {
  color: white;
  border-radius: 0;
  border-bottom: 4px solid transparent;
}

.ui.inverted.menu.site-nav-container a.item:hover {
  background: transparent;
}

.ui.inverted.menu.site-nav-container a.item.active-nav {
  border-bottom: 4px solid white;
}

.site-nav-dropdown {
  padding-left: 3px;
}

/* Override menu item separators */
.ui.menu a.item::before {
  width: 0;
}

.ui.menu .dropdown.item .menu.site-nav-sub-menu {
  border-radius: 0 !important;
}
